@import url('https://fonts.googleapis.com/css?family=Lato');

$family-sans-serif: "Lato", sans-serif;
$text-light: #a5afb8;
$turquoise: #4edd9e;
$turquoise-invert: #fff;
$menu-item-active-background-color: $turquoise;
$link: $text-light;
$table-cell-padding: 1em;

@import "bulma";
@import "table";

html {
  height: 100%;
}

body {
  background-color: $white-bis;
  min-height: 100%;
}

h1 {
  font-size: 38px;
  line-height: 1.33;
  letter-spacing: .7px;
  margin-bottom: 25px;
}

p.placeholder {
  font-size: 16px;
  line-height: 1.62;
  color: $text-light;
  letter-spacing: .5px;
  margin: 0px;
}

div.header {
  background-image: linear-gradient(290deg, #55df98, #455b97);
  padding: 10px 0px 5px;
  margin-bottom: 20px;

  img.logo {
    height: 25px;
    width: 96px;
  }
}

aside {
  padding-top: 30px;

  p.menu-label {
    padding: 0 12px;
  }
}

main#content {
  border: 1px solid $white-ter;
  border-radius: 5px;
  background-color: white;
  padding: 20px;
  box-shadow: 0 2px 4px 0 hsla(0, 0%, 0%, 0.1);
}

label.checkbox input {
  margin-right: 10px;
}
